[Unit]
Description = The Hermes Discord bot.
Requires = network.target

[Service]
Type = simple
ExecStart = /opt/Hermes.py/env/bin/python3 /opt/Hermes.py/main.py
WorkingDirectory = /opt/Hermes.py
RuntimeDirectory = hermes
User = hermes
Group = minecraft

[Install]
WantedBy = multi-user.target